
.cards {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  margin-bottom:60px;
  width:60%;
 
}
.cards__image{
  height:160px;
  width:160px;
  margin-right:40px;
  margin-left:40px;
  margin-bottom:43px;
  border-radius: 50%;
}
.cards__item{
  list-style: none;
  width:240px;
  padding-top:60px;
  padding-bottom:0px;
  margin-bottom:0px;
  margin-right:100px;
  margin-left:0px;
}
.cards__title{
  line-height: 1.15;
  font-size:24px;
  font-weight: bold;
  text-align:center;
  margin-top:0px;
  margin-bottom:16px;
}
.cards__description {
  line-height: 23px;
  font-size:18px;
  font-weight: normal;
  text-align:center;
  margin-bottom:0px;
  padding-bottom:0px;
}
.cards__item:last-child {
  margin-right:0px;
}
.cards__item:first-child {
  margin-left:0px;
}
