.video {
  padding-bottom:60px;
  background: linear-gradient(white 80%,#F2F2F2 20%);
}
.video__iframes{
  display: flex;
  margin-left: auto;
  margin-right:auto;
  margin-bottom:0px;
  list-style: none;
  justify-content: center;
}

.video_iframe:first-child {
  margin-right:20px;
}
.video_iframe:last-child {
  margin-right:0px;
}
.section-title_video {
  width:60%;
  line-height: 1.15;
  padding-bottom:20px;
  margin-top:100px;
}
.section-subtitle_video {
  margin-bottom:50px;
}
