
.kaufman {
  display: flex;
  position: relative;
  background-color: #1F1F1F;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
  margin: 0;
  padding-bottom:90px;
  padding-top:90px;
}
.section-title_theme_dark {
  width: 60%;
  margin: auto;
  color: white;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
.section-subtitle_theme_dark {
  width: 60%;
  margin: 20px auto auto auto;
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.table_theme_dark {
  margin: 80px auto auto auto;
  row-gap: 80px;
}
.kaufman__triangle {
  position: absolute;
  top: 90px;
  z-index: -100;
  right: -124px;
  width: 660px;
  height: 636px;
  background-image: url("../../images/kaufman-triangle.svg");
 
}
.table__cell {
  width: 250px;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
}
@keyframes kaufman__triangle-rotation {
  from {
      transform: rotate(0deg);
 }
  to {
      transform: rotate(360deg);
 }
}
.kaufman__rotation {
  animation-name: kaufman__triangle-rotation;
  animation-duration:20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: all 200ms linear;
}
