@keyframes square-pic-rotation {
  from {
      transform: rotate(-15deg);
 }
  to {
      transform: rotate(345deg);
 }
}

.rotation {
  animation-name: square-pic-rotation;
  animation-duration:20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}