.page {
  min-width: 1100px;
 /* we don't know how to  make mobile versions of websites yet, */
 /* so here we've set a minimum page width */
  max-width: 1600px;
 /* here we've set a maximum page width */
  margin: 0 auto;
 /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {
  margin:0;
  padding:0;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
 /* parameters for the header section */
  background-color: #F2F2F2;
  z-index: 0;
  overflow:hidden;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 154px;
  height: 31px;
  z-index: 100;
}
.header__title {
  align-self: center;
  margin: 0 auto 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  z-index: 100;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2F80ED;
  z-index: -2;
  transform:rotate(-15deg);
  
}
.header__main-illustration {
  position: absolute;
  height: 608px;
  width: 756px;
  right: 0px;
  bottom: 0;
  z-index: -1;
}
/* here we have two ex.amples of selectors in order to remind you how to set styles for elements */
.header__subtitle {
  position: absolute;
  left: 64px;
  width: 388px;
  z-index: 100;
  font-weight: normal;
  line-height: 25px;
  font-size: 18px;
  bottom: 30px;
  margin-top:0px;
  margin-bottom:0px;
}
.header__link {
  color: #2F80ED;
  text-decoration: none;
}
/* including elements with key-value modifiers */
.description {
  position: relative;
  display: flex;
  background-color: white;
  margin: 100px 0 0 0;
  padding: 0;
}
.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
  margin-top: 0;
  margin-bottom: 0;
}
.two-columns__span-accent {
  font-weight: bold;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  background-color: white;
  margin: 0 auto;
  min-width: 784px;
  max-width: 80%;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  min-width: 784px;
}
.two-columns__paragraph:first-child {
  margin-top: 0;
}
.two-columns__paragraph:last-child {
  margin-bottom: 0;
}
.digits {
  position: relative;
  background-color: white;
  flex-direction: column;
  margin: 100px 0;
  padding: 0;
  margin-top:100px;
}
.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  order: 1;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
}
.section-subtitle {
  width: 60%;
  order: 2;
  margin: auto;
  text-align: center;
  font-size:24px;
  line-height: 34px;
  font-weight: normal;
}
.table {
  display: flex;
  flex-direction: row;
  padding: 0;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  width: 1100px;
  margin: 60px auto 100px auto;
  order: 3;
  list-style: none;
  row-gap: 60px;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}
.table__text_theme_dark {
  position: relative;
  margin-bottom: 0;
  padding: 0;
}
.table__heading {
  line-height: 1.15;
  margin: 0;
}
.table__heading_theme_dark {
  line-height: 1.2;
  font-size: 24px;
  font-weight: bold;
}
.feynman {
  padding-top:100px;
  position: relative;
  min-height: 790px;
  background-color: #F2F2F2;
  margin: 0;
}
.feynman__title {
  position: relative;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 775px;
  margin-left: auto;
  margin-right:auto;
  z-index: 100;
  text-align: center;
  margin-top:0px;
  margin-bottom:70px;
}
.feynman__subtitle {
  position: relative;
  margin-top: 70px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 100;
  line-height: 51px;
  margin-bottom:0px;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 100;
  color: #2F80ED;
  text-decoration: none;
}
.feynman__image {
  position: absolute;
  background-size: cover;
  height: 637px;
  width: 867px;
  left: 0px;
  bottom: 0px;
  z-index: 3;
}

.footer {
  display: flex;
  min-height: 350px;
  box-sizing: border-box;
  background-color: #1F1F1F;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.footer__list {
  margin: 20px 0 0 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  padding: 0;
}
.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 711px;
}
.logo_place_footer {
  width: 183px;
  height: 35px;
}
.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/* projet2 classes */

@keyframes square-pic-rotation
{
   from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(345deg);
  }
}
.header__rotation {
  animation-name: square-pic-rotation;
  animation-duration:20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: all 200ms linear;
}

.techniques {
  background-color:white;

}
.techniques__section-title{
line-height: 1.15;
width:60%;
margin-top:100px;
}

.techniques__section-subtitle {
width:60%;
}
.cards {
  display: flex;
  flex-direction: row;
  padding: 0;
  /*flex-wrap: wrap;*/
  
 /* align-content: flex-start;*/
 /* justify-content: space-between;*/
  width: 920px;
/*  margin: 60px auto 100px auto;*/

  /*order: 3;*/
  list-style: none;
/*row-gap: 60px;*/
margin-left:auto;
margin-right:auto;
margin-top:0px;
margin-bottom:60px;


}


.cards__image{
  height:160px;
  width:160px;
  margin-right:40px;
  margin-left:40px;
  margin-bottom:43px;
  border-radius: 50%;
}
.cards__item{
  list-style: none;
  width:240px;
  padding-top:60px;
  padding-bottom:0px;
  margin-bottom:0px;
  margin-right:100px;
  margin-left:0px;
}

.cards__title{
  line-height: 1.15;
  font-size:24px;
  font-weight: bold;
  text-align:center;
  margin-top:0px;
  margin-bottom:16px;

}
.cards__description {
  line-height: 23px;
  font-size:18px;
  font-weight: normal;
  text-align:center;
  margin-bottom:0px;
  padding-bottom:0px;

}

.cards__item:last-child {
 margin-right:0px;
}
.cards__item:first-child {
  margin-left:0px; 
 }
.video{
padding-bottom:60px;
  background: linear-gradient(white 80%,#F2F2F2 20%);
}
.video__iframes{
 
 display: flex;

  margin-left: auto;
  margin-right:auto;
  margin-bottom:0px;
  list-style: none;
  justify-content: center;


  
}
.video__iframes_box {
  width:515px;
  height:316px;
}

.video__iframes_child:first-child {

margin-right:20px;
}

 .video__iframes_child:last-child {

  margin-right:0px;
   }

.video__section-title
{
  width:60%;
  line-height: 1.15;
  padding-bottom:20px;
  margin-top:100px;
}
.video__section-subtitle
{
margin-bottom:50px;
}


.oakley{

  padding-top:100px;
  background-color: #F2F2F2;
}
.oakley__two-columns{
  background-color: #F2F2F2;
}
.khan{
  display:flex;
  padding-top:105px;
  background-color: #F2F2F2;
  margin-left:auto;
  margin-right:auto;

  
}
.khan__container{
  width:80%;
  margin-left:auto;
  margin-right:auto;
}
.khan__book-pic{
 
  width:620px;
  height:608px;
  margin-top:68px;
}
.khan__author{
  margin-top:0px;
  margin-bottom:0px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
.khan__title{
  line-height: 1.15;
  font-size:60px;
  font-weight: bold;
  margin-top:0px;
  margin-bottom:0px;
}
.khan__quote{
  line-height:34px;
  font-size:24px;
  font-weight: normal;
  width:790px;
  margin-top:50px;
}
.khan__quote-author{
  line-height:1.15;
  font-size:24px;
  font-weight:bold;
  margin-top:36px;
  margin-bottom:0px;
}
.khan__quote-author-subline{
  line-height:1.15;
  font-size:24px;
  font-weight:normal;
  margin-top:10px;
  margin-bottom:0px;

}
.khan__buy-link{


  line-height:42px;
  font-size:30px;
  font-weight:normal;
  color: #2F80ED;
  text-decoration: none;

 

  
}

.khan__list{
  display: flex;
  flex-direction: row;
  list-style: none;
margin:0px;
  margin-top: 0px;  
  padding-top:0px;
  margin-left: 0px;
  padding-left:0px;
}
.khan__list-child:last-child {
  margin-top: 68px;
}

.kaufman {
  display: flex;
  position: relative;
  background-color: #1F1F1F;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
  margin: 0;
  padding-bottom:90px;
 

  
 padding-top:90px;
}
.section-title_theme_dark {
  width: 60%;
  margin: auto;
  color: white;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
.section-subtitle_theme_dark {
  width: 60%;
  margin: 20px auto auto auto;
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.table_theme_dark {
  margin: 80px auto auto auto;
  row-gap: 80px;
}
.kaufman__triangle {
  position: absolute;
  top: 90px;
  z-index: -100;
  right: -124px;
  width: 660px;
  height: 636px;
  background-image: url("../images/kaufman-triangle.svg");
}
.table__cell {
  width: 250px;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
}

@keyframes kaufman__triangle-rotation
{
   from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.kaufman__rotation {
  animation-name: kaufman__triangle-rotation;
  animation-duration:20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: all 200ms linear;
}
.resources {
  margin-top:100px;
}
.resources__logo-zone {
  display:flex;
  flex-direction: row;
  list-style: none;
  width: 1100px;
  justify-content: space-around;
  margin-right:auto;
  margin-left:auto;
  padding-left:0px;
  padding-right:0px;
  margin-top:80px;
  margin-bottom:217px;
}
.resources__logo {
width:270px;
height:38px;

}

.resources__section-title{
width:60%;
padding-bottom:20px;
}